.additional-navigation {
  .list();
  margin-left: auto;
  padding-top: 17px;
  padding-left: 50px;
  font-size: 15px;
}

.additional-navigation__item {
  margin-right: 61px;
}

.additional-navigation__link {
  color: @black-color;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
