.catalog-sections {
  font-size: 19px;
}

.catalog-sections__link-accessories {
  color: @white-color;
  background-color: @green-color;
}

.catalog-sections__link-toys {
  color: @white-color;
  background-color: @alt-green-color;
}

@media (min-width: @tablet-width) {
  .catalog-sections {
    font-size: 20px;
    line-height: 30px;
  }
}
