.main-header__shipping-text {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__shipping-text {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: @grey-color;
  }
}
