.manufacture__title {
  font-size: 17px;
}

.manufacture__text {
  font-size: 13px;
  font-weight: 400;
  color: @grey-color;
}

@media (min-width: @tablet-width) {
  .manufacture__title {
    font-size: 20px;
  }

  .manufacture__text {
    font-size: 15px;
    line-height: 30px;
  }
}
