.modal__title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__options-title {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @grey-color;
}

.modal__option-label {
  line-height: 16px;
  color: @grey-color;
}

.modal__button {
  line-height: 16px;
  font-weight: 700;
  color: @white-color;
  background-color: @green-color;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal__options-title {
    font-size: 17px;
  }
}
